{% extends "base_login.html" %}

{% block content %}
<h1>Сreate an account</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.about.label }}<br>
        {{ form.about(class="form-control") }}<br>
        {% for error in form.about.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p><a class="btn btn-success" href="/upload_photo">back</a>
        {{ form.further(type="submit", class="btn btn-primary") }}</p>
    {{ message }}
</form>
{% endblock %}