{% extends "base_login.html" %}

{% block content %}
<h1>Password recovery</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.login.label }}<br>
        {{ form.login(class="form-control") }}<br>
        {% for error in form.login.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p><a class="btn btn-success" href="/login">back</a>
        {{ form.search(type="submit", class="btn btn-primary") }}</p>
    {{ message }}
</form>
{% endblock %}